<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card shadow-sm mb-3">
                <div class="img-block">
                    <img src='{{restaurant.img}}' class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{restaurant.name}}</h5>
                    <p class="card-text">{{restaurant.description}}.</p>

                    <p class="card-text">Address : <b>{{restaurant.address}}</b>.</p>
                    <p><span class="badge bg-warning text-dark">Cuisine : {{restaurant.cuisine}}</span> </p>
                    <p class="card-text"><small class="text-muted">Creation date : {{restaurant.date | date}}</small></p>
                </div>
            </div>
        </div>
    </div>

</div>