<div class="card shadow-lg">
    <div class="card-header">
        Restaurants
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Borough</th>
                    <th scope="col">Cuisine</th>
                    <th scope="col" style="width: 8%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let restaurant of restaurants">
                    <th>{{restaurant.name}}</th>
                    <td>{{restaurant.address}}</td>
                    <td>{{restaurant.description | slice:0:100}}...</td>
                    <td>{{restaurant.date | date}}</td>
                    <td>{{restaurant.borough}}</td>
                    <td>{{restaurant.cuisine}}</td>
                    <td>
                        <button class="btn btn-sm btn-success"><i class="bi bi-pencil-square"></i></button>&nbsp;
                        <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>